@import url(../fonts/fontawesome-free-5.5.0-web/css/all.min.css);
@import url(../fonts/GothamBook/font.css);
@import url(../fonts/GothamPro/stylesheet.css);
@import url(../fonts/opensans/opensans.css);
@import url(../fonts/roboto/roboto.css);
@import url(../fonts/robotocondensed/robotocondensed.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.grid {
  display: grid; }

.block1 {
  background-image: url(../img/back1.jpg);
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  height: 938px;
  color: #fff; }

.mainHeader {
  width: 100%;
  height: 119px;
  margin: auto;
  line-height: 119px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.38); }

.boxInHeader {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 270px; }

.mainLogo {
  margin-right: 260px;
  height: 75px; }

nav.mainNav a {
  height: 115px;
  text-decoration: none;
  color: #FFF;
  font-family: roboto, sans-serif;
  font-size: 19px;
  padding: 30px;
  padding-bottom: 42px; }
  nav.mainNav a:hover {
    border-bottom: 5px solid rgba(255, 255, 255, 0.4); }

a#selected {
  border-bottom: 5px solid #11749E; }

.links {
  margin-left: 60px; }

.links a {
  padding: 12px; }

.links i:hover {
  -webkit-transform: scale(1.3, 1.3);
      -ms-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3); }

.socNet {
  color: #fff; }

.centralPart {
  text-align: center;
  margin-top: 220px;
  font-family: "Gotham Pro", sans-serif; }

.creativesText {
  font-size: 147px;
  font-weight: bold; }

.pwrPSD {
  color: #11749E;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 20px;
  padding-left: 14px; }

.weAwesome {
  background-image: url(../img/W1.jpg);
  width: 100%;
  height: 800px;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  font-family: "Gotham Pro", sans-serif;
  color: #fff;
  text-align: center; }

.awesomeText {
  padding: 160px;
  font-size: 37px;
  font-weight: 400; }

.features {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.feaBls {
  width: 300px;
  text-align: center;
  margin: 40px 15px 0px 15px; }

.feaH1 {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 30px; }

.feaImg {
  width: 140px; }
  .feaImg:hover {
    -webkit-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2); }

.feaText {
  font-weight: 300;
  line-height: 1.5em; }

.numb {
  width: 100%;
  height: 512px; }

.golos {
  width: 50%;
  height: 512px;
  float: left; }

.tleft {
  background-color: #222222;
  color: #fff; }

.tright {
  background-image: url(../img/tright.jpg);
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover; }

.bleft {
  background-image: url(../img/bright.jpg);
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover; }

.bright {
  background-color: #F3F3F3; }

.golostlText {
  width: 480px;
  height: 260px;
  margin-left: 300px;
  margin-top: 100px;
  font-weight: 300;
  line-height: 1.5em; }

.golosTitle {
  margin-bottom: 40px;
  font-family: "Gotham Pro", sans-serif;
  font-weight: 400; }

.golosTime, .golosPart1, .golosPart2 {
  margin-bottom: 20px;
  font-family: "Gotham Pro", sans-serif; }

.gtrBot {
  margin-left: 100px;
  margin-top: 100px; }

.scroll-up {
  background-image: url(../img/butUp.png);
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  width: 50px;
  height: 50px;
  position: fixed;
  cursor: pointer;
  z-index: 101;
  right: 48.666%;
  top: 25px; }

.scroll-down {
  background-image: url(../img/butDown.png);
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  width: 50px;
  height: 50px;
  position: fixed;
  cursor: pointer;
  z-index: 101;
  right: 48.666%;
  bottom: 25px; }

.lets-blog {
  width: 100%;
  height: 1150px;
  -webkit-background-size: cover;
          background-size: cover;
  text-align: center;
  font-family: "Gotham Pro", sans-serif; }

.blog-flex {
  margin: 50px; }

.lkol {
  width: 100%;
  padding-top: 219px; }

.head-blog-text {
  font-weight: 500;
  font-family: "Gotham Pro", sans-serif;
  font-size: 37px; }

.we-love-text-block {
  margin-top: 150px; }

.we-love-text {
  font-size: 30px;
  font-weight: 300;
  font-family: "Gotham Pro", sans-serif; }

.blog-text {
  color: #11749E;
  font-family: "Gotham Pro", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  padding: 15px 0; }

.min-blog-text {
  line-height: 1.6;
  font-weight: 300; }

.block5 {
  width: 100%;
  height: 400px;
  background-color: #11749E; }

.bl5-main {
  width: 1280px;
  height: 100px; }

.bl5-main-left {
  width: 640px;
  height: 100px; }

.bl5-main-right {
  width: 590px;
  height: 100px; }

.bl5-main {
  margin: auto;
  vertical-align: middle;
  padding-top: 175px; }

.bl5-main-left {
  display: inline-block;
  float: left;
  margin-right: 50px; }

.bl5-main-right {
  float: left; }

.bl5-img {
  margin: 0 30px 0 0;
  background-image: url(../img/img5bl.png);
  width: 69px;
  height: 69px;
  float: left; }

.bl5-text {
  width: 490px;
  float: left;
  font-family: "Gotham Pro", sans-serif;
  color: #fff;
  font-weight: 300;
  line-height: 1.5; }

.block-6 {
  width: 100%;
  height: 1042px; }

.block-6 {
  background-image: url(../img/back-bl-6.png);
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover; }

.block-6-left {
  width: 50%;
  float: left;
  height: 100%;
  color: white; }

.block-6-right {
  width: 50%;
  float: left;
  height: 100%; }

.bl-6-right-content {
  background-image: url(../img/phone.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 76%; }

.st_1 {
  width: 300px;
  height: 35px; }

.st_2 {
  width: 330px;
  height: 35px; }

.st_3 {
  width: 360px;
  height: 35px; }

.st_1, .st_2, .st_3 {
  background-color: #11749E; }

.bl-6-left-content {
  width: 65%;
  height: 70%;
  margin-top: 275px;
  margin-left: 150px;
  font-family: "Gotham Pro", sans-serif;
  font-weight: 300;
  text-transform: uppercase; }
  .bl-6-left-content p {
    margin-top: 30px;
    margin-bottom: 45px;
    text-transform: none; }
  .bl-6-left-content div {
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 15px; }

.block-7 {
  width: 100%;
  height: 950px;
  background-color: #fff; }

.block-7-top {
  height: 35%;
  min-height: 35%;
  width: 100%;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }
  .block-7-top .bl-7-top-content {
    width: 100%;
    height: 176px;
    text-align: center;
    background-image: url(../img/T.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center; }
    .block-7-top .bl-7-top-content p {
      font-family: "Gotham Pro", sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 30px; }

.block-7-center {
  height: 10%;
  width: 100%;
  text-align: center;
  -webkit-align-content: start;
      -ms-flex-line-pack: start;
          align-content: start; }
  .block-7-center p {
    font-family: "Gotham Pro", sans-serif;
    font-size: 30px;
    font-weight: 300; }

.block-7-bottom {
  height: 60%;
  width: 100%;
  grid-template-columns: 1fr minmax(200px, 280px) minmax(200px, 280px) minmax(200px, 280px) minmax(200px, 280px) 1fr;
  grid-gap: 40px; }

.bl-7-grid-1 {
  grid-column: 2 / 3; }

.bl-7-grid-2 {
  grid-column: 3 / 4; }

.bl-7-grid-3 {
  grid-column: 4 / 5; }

.bl-7-grid-4 {
  grid-column: 5 / 6; }

.block-7-things {
  text-align: center;
  font-family: "Gotham Pro", sans-serif;
  grid-row-gap: 12px;
  grid-template-rows: 414px 1px; }
  .block-7-things h1 {
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 400;
    color: #11749E; }
  .block-7-things p {
    font-weight: 300;
    line-height: 1.6; }

.bl-7-imgs {
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat; }

.bl-7-img-1 {
  background-image: url(../img/ceo.png); }

.bl-7-img-2 {
  background-image: url(../img/web-designer.png); }

.bl-7-img-3 {
  background-image: url(../img/photographer-1.png); }

.bl-7-img-4 {
  background-image: url(../img/photographer-2.png); }

.block-7-things {
  grid-row-gap: 0px; }
  .block-7-things h4 {
    font-weight: 400; }

.bl-7-imgs {
  justify-items: center;
  -webkit-box-align: end;
  -webkit-align-items: end;
      -ms-flex-align: end;
          align-items: end; }

.bl-7-team {
  width: 80%;
  height: 50px;
  background-color: #fff;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }

.block-8-top {
  height: 45%;
  min-height: 45%;
  width: 100%;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }
  .block-8-top .bl-8-top-content {
    width: 100%;
    height: 182px;
    text-align: center;
    background-image: url(../img/C.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center; }
    .block-8-top .bl-8-top-content p {
      font-family: "Gotham Pro", sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 30px; }

.block-8-center {
  height: 0;
  width: 100%;
  text-align: center;
  -webkit-align-content: start;
      -ms-flex-line-pack: start;
          align-content: start; }
  .block-8-center p {
    font-family: "Gotham Pro", sans-serif;
    font-size: 30px;
    font-weight: 300; }

.block-8 {
  width: 100%;
  height: 860px;
  background-image: url(../img/bg-i-bl-8.png);
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover; }

.bl-8-top-content {
  color: #fff; }

.block-8-bottom {
  text-align: center; }
  .block-8-bottom form input {
    background-color: transparent;
    border: 1px solid #fff;
    width: 370px;
    height: 47px;
    color: #fff;
    padding-left: 20px;
    font-size: 16px;
    margin-left: 30px; }
  .block-8-bottom input[name="textarea-bl-8"] {
    margin-top: 30px;
    height: 150px;
    width: 1180px;
    padding-bottom: 95px; }
  .block-8-bottom .btn-bl-8 {
    background-color: #11749E;
    width: 200px;
    height: 40px;
    margin-top: 30px; }

::-webkit-input-placeholder {
  color: #fff; }
