@import url(../fonts/fontawesome-free-5.5.0-web/css/all.min.css);
@import url(../fonts/GothamBook/font.css);
@import url(../fonts/GothamPro/stylesheet.css);
@import url(../fonts/opensans/opensans.css);
@import url(../fonts/roboto/roboto.css);
@import url(../fonts/robotocondensed/robotocondensed.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.block1 {
  background-image: url(../img/back1.jpg);
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  height: 938px;
  color: #fff; }

.mainHeader {
  width: 100%;
  height: 119px;
  margin: auto;
  line-height: 119px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.38); }

.boxInHeader {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 270px; }

.mainLogo {
  margin-right: 260px;
  height: 75px; }

nav.mainNav a {
  height: 115px;
  text-decoration: none;
  color: #FFF;
  font-family: roboto, sans-serif;
  font-size: 19px;
  padding: 30px;
  padding-bottom: 42px; }
  nav.mainNav a:hover {
    border-bottom: 5px solid rgba(255, 255, 255, 0.4); }

a#selected {
  border-bottom: 5px solid #11749E; }

.links {
  margin-left: 60px; }

.links a {
  padding: 12px; }

.links i:hover {
  -webkit-transform: scale(1.3, 1.3);
      -ms-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3); }

.socNet {
  color: #fff; }

.centralPart {
  text-align: center;
  margin-top: 220px;
  font-family: "Gotham Pro", sans-serif; }

.creativesText {
  font-size: 147px;
  font-weight: bold; }

.pwrPSD {
  color: #11749E;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 20px;
  padding-left: 14px; }

.weAwesome {
  background-image: url(../img/W1.jpg);
  width: 100vw;
  height: 800px;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  font-family: "Gotham Pro", sans-serif;
  color: #fff;
  text-align: center; }

.awesomeText {
  padding: 160px;
  font-size: 37px;
  font-weight: 400; }

.features {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.feaBls {
  width: 300px;
  text-align: center;
  margin: 40px 15px 0px 15px; }

.feaH1 {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 30px; }

.feaImg {
  width: 140px; }
  .feaImg:hover {
    -webkit-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2); }

.feaText {
  font-weight: 300;
  line-height: 1.5em; }

.numb {
  width: 1904px;
  height: 512px; }

.golos {
  width: 952px;
  height: 512px;
  float: left; }

.tleft {
  background-color: #222222;
  color: #fff; }

.tright {
  background-image: url(../img/tright.jpg);
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover; }

.bleft {
  background-image: url(../img/bright.jpg);
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover; }

.bright {
  background-color: #F3F3F3; }

.golostlText {
  width: 480px;
  height: 260px;
  margin-left: 300px;
  margin-top: 100px;
  font-weight: 300;
  line-height: 1.5em; }

.golosTitle {
  margin-bottom: 40px;
  font-family: "Gotham Pro", sans-serif;
  font-weight: 400; }

.golosTime, .golosPart1, .golosPart2 {
  margin-bottom: 20px;
  font-family: "Gotham Pro", sans-serif; }

.gtrBot {
  margin-left: 100px;
  margin-top: 100px; }

.up {
  background-image: url(../img/butUp.png);
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  width: 50px;
  height: 50px;
  position: fixed;
  cursor: pointer;
  display: none; }

.down {
  width: 100px;
  border: 1px solid #ccc;
  background: #f7f7f7;
  text-align: center;
  position: fixed;
  cursor: pointer;
  display: none; }

.lets-blog {
  width: 100vw;
  height: 1150px;
  -webkit-background-size: cover;
          background-size: cover;
  text-align: center;
  font-family: "Gotham Pro", sans-serif; }

.blog-flex {
  margin: 50px; }

.lkol {
  width: 100vw;
  padding-top: 219px; }

.head-blog-text {
  font-weight: 500;
  font-family: "Gotham Pro", sans-serif;
  font-size: 37px; }

.we-love-text-block {
  margin-top: 150px; }

.we-love-text {
  font-size: 30px;
  font-weight: 300;
  font-family: "Gotham Pro", sans-serif; }

.blog-text {
  color: #11749E;
  font-family: "Gotham Pro", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  padding: 15px 0; }

.min-blog-text {
  line-height: 1.6;
  font-weight: 300; }

.block5 {
  width: 100vw;
  height: 400px;
  background-color: #11749E; }

.bl5-main {
  width: 1280px;
  height: 100px; }

.bl5-main-left {
  width: 640px;
  height: 100px; }

.bl5-main-right {
  width: 590px;
  height: 100px; }

.bl5-main {
  margin: auto;
  vertical-align: middle;
  padding-top: 175px; }

.bl5-main-left {
  display: inline-block;
  float: left;
  margin-right: 50px; }

.bl5-main-right {
  float: left; }

.bl5-img {
  margin: 0 30px 0 0;
  background-image: url(../img/img5bl.png);
  width: 69px;
  height: 69px;
  float: left; }

.bl5-text {
  width: 490px;
  float: left;
  font-family: "Gotham Pro", sans-serif;
  color: #fff;
  font-weight: 300;
  line-height: 1.5; }

.menu {
  text-align: right; }

.menu__icon {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer; }

.menu__icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #fff;
  -webkit-border-radius: 9px;
          border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

.menu__icon span:nth-child(1) {
  top: 0px; }

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
  top: 13px; }

.menu__icon span:nth-child(4) {
  top: 26px; }

.menu__links-item {
  display: inline-block;
  color: #333333;
  font-family: Arial;
  font-size: 14px;
  line-height: 30px;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer; }

.menu__links-item:hover {
  text-decoration: underline; }

.menu.menu_state_open .menu__icon span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%; }

.menu.menu_state_open .menu__icon span:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.menu.menu_state_open .menu__icon span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.menu.menu_state_open .menu__icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

.menu.menu_state_open .menu__links {
  display: block; }

@media screen and (max-width: 1400px) {
  .links {
    display: none; }
  .mainNav {
    display: none; }
  .mainLogo {
    display: none; }
    .mainLogo .menu__icon {
      display: inline-block; }
      .mainLogo .menu__icon .menu__links {
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        left: 0;
        margin-top: 52px;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1000;
        overflow: auto; }
      .mainLogo .menu__icon .menu__links-item {
        display: block;
        padding: 10px 0;
        text-align: center;
        color: #fff; } }
